In [1]:
import pandas as pd

In [2]:
finances = pd.read_pickle('IPL_finances.pkl')
results  = pd.read_pickle('IPL_results.pkl')

#Assume that the current 60crore rupees budget applied forever (rules for 2013 are not clear to me)
finances['Spend']=600000000.0-finances['Balance']
finances['Spend_crores']=finances['Spend']/10000000.0

In [3]:
#Get all teams ever for which we have both results and finance data
teams_results = set(results.index.values)
teams_finances= set(finances.index.get_level_values(level=1))
#Final set of teams with both data
teams = teams_results.intersection(teams_finances)
print(teams)

{'Gujarat Lions', 'Kings XI Punjab', 'Royal Challengers Bangalore', 'Pune Warriors India', 'Sunrisers Hyderabad', 'Mumbai Indians', 'Delhi Capitals', 'Rising Pune Supergiant', 'Rajasthan Royals', 'Chennai Super Kings', 'Kolkata Knight Riders'}

In [4]:
#Currently Active Teams based on results for latest year
currently_active = results.iloc[:,-1].notnull()
currently_active_teams = results[currently_active].index.to_list()
print(currently_active_teams)

['Chennai Super Kings', 'Delhi Capitals', 'Kings XI Punjab', 'Kolkata Knight Riders', 'Mumbai Indians', 'Rajasthan Royals', 'Royal Challengers Bangalore', 'Sunrisers Hyderabad']

In [5]:
#Total money spent ever in IPL (in crores)
sum(finances.Spend_crores)

3454.1495342

In [6]:
#Money spent by teams since 2013
finances.Spend_crores.groupby(level=[0]).sum()

year
2013    389.964534
2014    468.100000
2015    432.645000
2016    417.720000
2017    422.820000
2018    468.700000
2019    441.550000
2020    412.650000
Name: Spend_crores, dtype: float64

In [7]:
#Money spent by teams since 2013
finances.Spend_crores.groupby(level=[1]).sum()

Team
Chennai Super Kings            337.988869
Delhi Capitals                 441.148534
Gujarat Lions                   99.150000
Kings XI Punjab                383.005761
Kolkata Knight Riders          428.396954
Mumbai Indians                 462.150392
Pune Warriors India             55.094807
Rajasthan Royals               277.115046
Rising Pune Supergiant         114.500000
Royal Challengers Bangalore    456.709716
Sunrisers Hyderabad            398.889454
Name: Spend_crores, dtype: float64

In [98]:
def get_games_points(results,team = 'Delhi Capitals',year=2019):
    try:
        res  = results[year].loc[team][0]
        wins   = res[0]
        losses = res[1]
        ties   = res[2]
        nr     = res[3]
        games  = wins+losses+ties+nr
        points = 2*wins+1*(ties+nr)
    except TypeError:
        points = 0.0
        games  = 0
    return(games, points)

In [102]:
points_season,active_seasons = {},{}
for team in teams:
    seasons_active = 0
    for year in range(2013,2020):
        games,points = get_games_points(results,team=team,year=year)
        if points>0:
            seasons_active +=1
        points_season[(team,year)] = [games,points]
    active_seasons[team]=seasons_active

In [103]:
s = pd.Series(points_season)
points = s.reset_index()
points.columns = ['team','year','points']
active_seasons = pd.DataFrame.from_dict([active_seasons])
active_seasons = active_seasons.transpose()
active_seasons.columns = ['seasons']

                             seasons
Chennai Super Kings                5
Delhi Capitals                     7
Gujarat Lions                      2
Kings XI Punjab                    7
Kolkata Knight Riders              7
Mumbai Indians                     7
Pune Warriors India                1
Rajasthan Royals                   5
Rising Pune Supergiant             2
Royal Challengers Bangalore        7
Sunrisers Hyderabad                7

In [107]:
points_total = points.groupby(['team']).sum().drop(columns=['year'])

In [106]:
points_total.join(active_seasons)

                             seasons
team
Chennai Super Kings                5
Delhi Capitals                     7
Gujarat Lions                      2
Kings XI Punjab                    7
Kolkata Knight Riders              7
Mumbai Indians                     7
Pune Warriors India                1
Rajasthan Royals                   5
Rising Pune Supergiant             2
Royal Challengers Bangalore        7
Sunrisers Hyderabad                7